/**
 * @file
 * Schema.org report styles.
 */

/**
 * Hide the filter submit button is dialog and use autocomplete to redirect.
 */
.ui-dialog .schemadotorg-report-filter-form .form-submit {
  display: none;
}

.ui-dialog hr {
  margin: 1rem 0;
}

.schemadotorg-report-dialog-header nav {
  float: left;
}

.schemadotorg-report-dialog-header .schemadotorg-report-filter-form {
  float: right;
}

.schemadotorg-report-dialog-header .form-item {
  margin: 0;
}

.schemadotorg-report-dialog-header .claro-autocomplete {
  width: auto;
}

.schemadotorg-report-add-type {
  float: right;
}

@media (max-width: 768px) {
  .schemadotorg-report-dialog-header .schemadotorg-report-filter-form,
  .schemadotorg-report-add-type {
    float: none;
    margin: 0 0 1em 0;
  }
}
