/**
 * @file
 * Schema.org UI styles.
 */

.schemadotorg-mapping-form .form-actions {
  clear: both;
}

.schemadotorg-ui-quick-start {
  border: 1px solid #ccc;
  border-radius: var(--ginBorderDefault);
  padding: .5em 0;
  margin-bottom: .5em;
}

details.schemadotorg-ui--add-field {
  display: none;
}

.schemadotorg-ui-properties {
  margin-top: 0;
}

.schemadotorg-ui-properties td {
  vertical-align: top;
}

.schemadotorg-ui-properties-toggle-wrapper {
  text-align: right;
}

/* Filter */
.schemadotorg-ui-properties-filter {
  position: relative;
  display: inline-block;
}

.schemadotorg-ui-properties-filter input.schemadotorg-ui-properties-filter-reset {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  border: none;
  background-color: transparent;
  line-height: 1;
}

.schemadotorg-ui-properties-filter.form-item input.schemadotorg-ui-properties-filter-text {
  padding-right: 2em;
}

.schemadotorg-ui-properties-filter.form-item {
  margin-top: 0;
  margin-bottom: 1rem;
  float: left;
}

.schemadotorg-ui-properties-filter-matches tbody > tr {
  display: none !important;
}

.schemadotorg-ui-properties-filter-matches tbody > tr.schemadotorg-ui-properties-filter-match {
  display: table-row !important;
}

.schemadotorg-ui-gin .schemadotorg-ui-properties-toggle-wrapper {
  float: right;
  display: inline-block;
  min-height: 3rem;
  line-height: 3rem;
}

/* Claro theme enhancements */
.schemadotorg-ui-claro tr.color-success {
  border: 4px solid #325e1c;
}

.schemadotorg-ui-claro tr.color-warning {
  border: 4px solid #734c00;
}

.schemadotorg-ui-claro tr.color-success:hover,
.schemadotorg-ui-claro tr.color-warning:hover {
  border-color: #232429;
}

@media (max-width: 768px) {
  .schemadotorg-ui-property--comment {
    display: none;
  }
}

/**
 * Hide properties table.
 *
 * This approach blocks user with JS disabled from managing the mappings.
 *
 * Using `htmls.js .schemadotorg-ui-properties` causes a massive content flicker.
 *
 * @todo Determine a more accessible was to hide the table only when JS is enabled.
 */
table.schemadotorg-ui-properties,
#edit-mapping-ignored-properties {
  display: none;
}
